
  
  body {
    margin: auto;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 150%;
    color: #333;
    background-image: url(https://previews.123rf.com/images/ookasan/ookasan1605/ookasan160500391/57585899-white-concrete-wall-texture-ideal-for-home-vintage-old-.jpg);
  }
  
  #section {
    padding-top: 20px;
  } 
  #header {
    background-color: #ffffff;
    border: #cccccc;
    padding: 50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: #ddd 3px solid;
    max-width: 100%;
    widows: 50%;
   }
  a {
    text-decoration: none;
    color: #777;
  }
  
  a:visited{
    color: red;
  }
  a:hover{
    color: blue;
    text-decoration: underline;
  }
  #namediv {
    float: left;
    margin-left: 16%;
    font-size: 30px;
    background-color: #4aaaa5;
  }
  #about {
    float: right;
    margin-right: 50px;
  } 
  #folio {
    float:right;
    margin-right: 50px;
  }
  #contact{
    float: right;
    margin-right: 16%;
  } 
 
  #h2 {
    color: #4aaaa5;
    font-size: 30px;

  }
  #bio-image{
    float: left;
  }
  #container {
    margin:  0 auto;
    background-color:#ffffff;
    padding: 30px; 
    margin-bottom: 150px;
    font-size: 18px;
    margin-top: 40px; 
    max-width: 960px;
    width: 80%;
    line-height: 40px;
    border: #dddddd 3px solid;
    color: #777;
  } 
  #bio-image {
    width: 200px;
    height: 200px;
    margin: 0 25px 25px 0; 
  }
  #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: auto;
  }
 
  /* this is my conact page info css file bellow*/
  
   #submit {
      background: #0AAE6D;
      color: white;
     text-align: center;
   }
   /* portfolio page */
   #image {
    width: 48%;
    
  }
  
  #image1 {
    padding-right: 15px;
    padding-bottom: 25px;
  }
  #image2 {
    padding-left: 15px;
    padding-bottom: 25px;
  }
  #image3 {
    padding-right: 15px;
    padding-bottom: 25px;
  }
  #image4 {
    padding-left: 15px;
    padding-bottom: 25px;
  }